.login-btn{
    width: 150px;
    height: 30px;
    cursor: pointer;
    background-color: #212121;
    color: #fff;
}

.common-input {
    height: 20px;
    padding: 10px;
    background-color: white;
    outline: none;
    border: 1px solid #212121;
    color: #212121;
    border-radius: 3px;
    font-family: system-ui;
    font-size: 16px;
  }
  
  ::placeholder {
    font-family: system-ui;
    font-size: 16px;
  }